---
icon: magnifying-glass
---

# Integrated KYC verification

Remedy security researchers are welcome to complete a KYC (Know Your Customer) verification process, which is fully covered by Remedy. This process includes the following steps:

• Liveness Check: a method to ensure an entity presenting a biometric, like a face, is a live human being and not a fake image or recording

• Identification Document Check: Validation of the researcher’s identification document.

• Email Verification: Confirmation of the researcher’s email address.

Once a security researcher successfully passes the KYC verification, they will be marked with a designated UI indicator on the platform so you can see the verified users at first glance.

<div align="left"><figure><img src="../.gitbook/assets/image (3).png" alt=""><figcaption></figcaption></figure></div>

In the event of a legitimate need, the platform will provide necessary information to relevant authorities or parties in compliance with legal and regulatory requirements.
